<div class = "header">
  <div class = "header-logo">
    <%= link_to("大会管理システム", "/operations/top") %>
  </div>
  <div class = "header-menus">
    <%= @current_op.name %> でログイン中　　　　<%= link_to("ログアウト", "/operations/logout", method: :post) %> <br>
  </div>
</div>
<% if flash[:notice] %>
  <div class="flash" >
    <%= flash[:notice] %>
  </div>
<% end %>
<div class = "main">

<h2>フォア・リレー届け入力</h2>
※全て半角数字で入力してください <br>
<br>
<%= form_tag("/operations/fours/add") do %>
レースNo:<%= @race.race_no %>　<%= @race.race_name %>　<%= @race.stage %>-<%= @race.set %><br>
<br/>
<table border=1>
  <tr>
    <th>レーン</th>
    <th>大学名</th>
    <th colspan=4>ゼッケン</th>
  </tr>

  <% @fours.each do |four| %>
    <tr>
      <td> <%= four.rane %> </td>
      <td> <%= four.u_name %> </td>
      <td><input type="text" style="width:20px;" name="pid1<%= four.rane %>"/></td>
      <td><input type="text" style="width:20px;" name="pid2<%= four.rane %>"/></td>
      <td><input type="text" style="width:20px;" name="pid3<%= four.rane %>"/></td>
      <td><input type="text" style="width:20px;" name="pid4<%= four.rane %>"/></td>
    </tr>
  <% end %>
</table>
<br>
<input type="hidden" name="race_id" value="<%= @race.id %>" >
<input type="submit" value="確認して登録する"/>
<% end %>

<br>
<%= link_to("管理ページトップへ戻る", "/operations/top" ) %>
<br><br><br><br>
</div>
