<div class = "header">
  <div class = "header-logo">
    <%= link_to("大会管理システム", "/operations/top") %>
  </div>
  <div class = "header-menus">
    <%= @current_op.name %> でログイン中　　　　<%= link_to("ログアウト", "/operations/logout", method: :post) %> <br>
  </div>
</div>
<% if flash[:notice] %>
  <div class="flash" >
    <%= flash[:notice] %>
  </div>
<% end %>
<div class = "main">
<h2>選手名簿・ゼッケン割り振り</h2>
<%= link_to("ゼッケンを自動で割り振る", "/operations/bibs/assign", method: :post,
    data: { confirm: "本当にゼッケンを割り振りますか？" }) %><br>
※初回時・選手追加時のみ実行してください。抽選実施後には絶対に実行しないでください。 <br>
<br>

<table border = 1>
  <tr>
    <th>ゼッケン</th>
    <th>選手名</th>
    <th>ふりがな</th>
    <th>大学名</th>
    <th>種目</th>
    <th>学年</th>
  </tr>
  <% @universies.each do |university| %>
    <%# players = Player.where(u_name: university.u_name).order({grade: :desc}, :typ).order(:reading) %>
    <% players = Player.where(u_name: university.u_name).order({grade: :desc}, :typ).order('reading COLLATE "C" ASC') %>
    <% players.each do |player| %>
      <tr>
        <% bib = Bib.find_by(player_id: player.id, tour: @tour) %>
        <% if bib %>
          <td> <%= bib.bib_no %> </td>
        <% else %>
          <td> <br> </td>
        <% end %>
        <td> <%= player.p_name %> </td>
        <td> <%= player.reading %> </td>
        <td> <%= player.u_name %> </td>
        <td> <%= player.typ %> </td>
        <td> <%= player.grade %> </td>
      </tr>
    <% end %>
  <% end %>
</table>
<br>
<%= link_to("管理ページトップへ戻る", "/operations/top" ) %>
<br><br><br><br>
</div>
