<div class = "header">
  <div class = "header-logo">
    <%= link_to("大会管理システム", "/operations/top") %>
  </div>
  <div class = "header-menus">
    <%= @current_op.name %> でログイン中　　　　<%= link_to("ログアウト", "/operations/logout", method: :post) %> <br>
  </div>
</div>
<% if flash[:notice] %>
  <div class="flash" >
    <%= flash[:notice] %>
  </div>
<% end %>
<div class = "main">
<% if @current_op.id <= 4 %>
<h2>抽選実施・組み合わせ入力</h2>

<%= link_to("自動抽選を実施する", "/operations/combinations/lott", method: :post,
              data: { confirm: "本当に実行しますか？" }) %><br>
※ボタンを押すと抽選が変わります。抽選確定以降は押さないでください。 <br>
<br>
<% end %>
<h2>組み合わせ一覧</h2>
  <% @races.each do |race| %>
  レースNo. <%= race.race_no %> <%= race.race_name %> <%= race.stage %>-<%= race.set %>
  <% if race.race_name.include?("-1-") && !race.race_name.include?("Relay") %>
  <div class="combinations">
  <table border=1>
    <tr>
      <th>ra<br>ne</th>
      <th>ゼッケン</th>
      <th>氏名</th>
      <th>大学名</th>
    </tr>
    <% race.combinations.each do |combi| %>
    <tr>
      <td> <%= combi.rane %> </td>
      <td> <%= Bib.find_by(player_id: combi.player_id, tour: @tour).bib_no %> </td>
      <% player = Player.find_by(id: combi.player_id) %>
      <td> <%= player.p_name %> </td>
      <td> <%= player.u_name %> </td>
    </tr>
    <% end %>
  </table>
  </div>
  <br>

  <% elsif race.race_name.include?("-2-") %>
  <div class="combinations">
  <table border=1>
    <tr>
      <th>ra<br>ne</th>
      <th>ゼッケン</th>
      <th>氏名</th>
      <th>大学名</th>
    </tr>
    <% race.combinations.each do |combi| %>
    <tr>
      <td rowspan=2> <%= combi.rane %> </td>
      <td> <%= Bib.find_by(player_id: combi.player_id, tour: @tour).bib_no %> </td>
      <% if race.race_name.include?("200") %>
        <% player = Player.includes(:pair_twos).find_by(id: combi.player_id) %>
      <% else %>
        <% player = Player.includes(:pairs).find_by(id: combi.player_id) %>
      <% end %>
      <td> <%= player.p_name %> </td>
      <td rowspan="2"> <%= player.u_name %> </td>
    </tr>
    <tr>
      <% if race.race_name.include?("200") %>
        <% pair = Player.find_by(id: player.pair_twos.first.pair_id ) %>
        <td> <%= if bib = Bib.find_by(player_id: pair.id, tour: @tour) then bib.bib_no end %> </td>
        <td> <%= pair.p_name %> </td>
      <% else %>
        <% pair = Player.find_by(id: player.pairs.first.pair_id ) %>
        <td> <%= if bib = Bib.find_by(player_id: pair.id, tour: @tour) then bib.bib_no end %> </td>
        <td> <%= pair.p_name %> </td>
      <% end %>
    </tr>
    <% end %>
  </table>
  </div>
  <br>

  <% elsif race.race_name.include?("-4-") || race.race_name.include?("Relay") %>
  <div class="combinations">
  <table border=1>
    <tr>
      <th>ra<br>ne</th>
      <th>ゼッケン</th>
      <th>氏名</th>
      <th>大学名</th>
    </tr>
    <% combi_fours =  CombinationFour.where(race_id: race.id ) %>
    <% combi_fours.each do |combi| %>
    <tr>
      <td rowspan=4> <%= combi.rane %> </td>
      <% bib = Bib.find_by(player_id: combi.player_id1, tour: @tour) %>
      <td> <%= if bib then bib.bib_no else "" end %> </td>
      <% player = Player.find_by(id: combi.player_id1) %>
      <td> <%= if player then player.p_name else "" end %> </td>
      <td rowspan="4"> <%= combi.u_name %> </td>
    </tr>
    <tr>
      <% bib = Bib.find_by(player_id: combi.player_id2, tour: @tour) %>
      <td> <%= if bib then bib.bib_no else "" end %> </td>
      <% player = Player.find_by(id: combi.player_id2) %>
      <td> <%= if player then player.p_name else "" end %> </td>
    </tr>
    <tr>
      <% bib = Bib.find_by(player_id: combi.player_id3, tour: @tour) %>
      <td> <%= if bib then bib.bib_no else "" end %> </td>
      <% player = Player.find_by(id: combi.player_id3) %>
      <td> <%= if player then player.p_name else "" end %> </td>
    </tr>
    <tr>
      <% bib = Bib.find_by(player_id: combi.player_id4, tour: @tour) %>
      <td> <%= if bib then bib.bib_no else "" end %> </td>
      <% player = Player.find_by(id: combi.player_id4) %>
      <td> <%= if player then player.p_name else "" end %> </td>
    </tr>
    <% end %>
  </table>
  </div>
  <br>
  <% end %>
  <% end %>

<br>
<%= link_to("管理ページトップへ戻る", "/operations/top" ) %>
<br><br><br><br>
</div>
