<div class = "header">
  <div class = "header-logo">
    <%= link_to("学連カヌーWebシステム", "/") %>
  </div>
</div>
<% if flash[:notice] %>
  <div class="flash" >
    <%= flash[:notice] %>
  </div>
<% end %>
<div class = "main">
  <br>
<%= link_to("エントリー登録", "/reg/top", class: "btn-squar" ) %><br>
<br>
<%= link_to("スタートリスト・記録速報", "/results", class: "btn-squar") %><br>
<br>
<%= link_to("管理ページ", "/operations/top", class: "btn-squar") %> <br>
</div>
