<div class = "header">
  <div class = "header-logo">
    <%= link_to("エントリー登録システム", "/reg/top") %>
  </div>
  <div class = "header-menus">
    <%= @current_univ.u_name %> でログイン中　　　　<%= link_to("ログアウト", "/logout", method: :post) %> <br>
    <%= @current_tour %> を操作中　　　　<%= link_to("大会変更", "/reg/choice")  %>
  </div>
</div>
<% if flash[:notice] %>
  <div class="flash" >
    <%= flash[:notice] %>
  </div>
<% end %>
<div class = "main">
<h2>選手登録・変更</h2>
この内容でよければ<%= link_to("エントリー登録へ", "/entries/index") %> <br>
※選手名簿は各大会共通です。
<br>
<h3>選手追加</h3>
<%= form_tag("/players/add") do %>
大学名：
<input type="text" name="u_name" value="<%= @current_univ.u_name %>" readonly />
<br/>
選手名：
<input type="text" name="p_name"/>
<br/>
種目：
<select name="typ" size="1">
<option value="K">K</option>
<option value="C">C</option>
<option value="WK">WK</option>
<option value="WC">WC</option>
<option value="JK">JK</option>
<option value="JC">JC</option>
<option value="JWK">JWK</option>
<option value="JWC">JWC</option>
</select>
<br/>
学年：
<select name="grade" size="1">
<option value="1">1回生</option>
<option value="2">2回生</option>
<option value="3">3回生</option>
<option value="4">4回生</option>
</select>
<br/>
<input type="submit" value="追加"/>
<% end %>

<h3>現在の選手登録内容</h3>

<table border = 1>
  <tr>
    <th>選手名</th>
    <th>種目</th>
    <th>学年</th>
    <th colspan=2>操作</th>
  </tr>
  <% @players.each do |player| %>
  <tr>
    <td> <%= player.p_name %> </td>
    <td> <%= player.typ %> </td>
    <td> <%= player.grade %> </td>
    <td> <%= link_to("変更", "/players/edit/#{player.id}") %> </td>
    <td> <%= link_to("削除", "/players/destroy/#{player.id}", method: :post,
                      data: { confirm: "選手名: #{player.p_name} を削除しますか？" }) %> </td>
  </tr>
  <% end %>
</table>
<br>
<%= link_to("エントリー登録システムトップへ戻る", "/reg/top" ) %>
<br><br>
<%= link_to("トップへ戻る", "/") %>
<br><br><br><br>
</div>
