<h1> エントリー登録システム </h1>
<% if @current_univ %>
  ログイン中の大学: <%= @current_univ.u_name %> <br>
<% end %>

<h2>登録内容確認</h2>
<%= link_to("ペア登録に戻る", "/pairs/index") %> <br>

<h3>選手名簿</h3>
<table border = 1>
  <tr>
    <th>選手名</th>
    <th>種目</th>
    <th>学年</th>
  </tr>
  <% @players.each do |player| %>
  <tr>
    <td> <%= player.p_name %> </td>
    <td> <%= player.typ %> </td>
    <td> <%= player.grade %> </td>
  </tr>
  <% end %>
</table>
<%= link_to("選手登録に戻る", "/players/index") %><br>

<h3>エントリー登録内容</h3>
<table border = 1>
  <tr>
    <th>選手名</th>
    <th>種目</th>
    <th>参加レース</th>
  </tr>
  <% @players.each do |player| %>
    <% entries = Entry.where(player_id: player.id) %>
    <% entries.each do |entry| %>
    <tr>
      <td> <%= player.p_name %> </td>
      <td> <%= player.typ %> </td>
      <td> <%= entry.race_name %> </td>
    </tr>
    <% end %>
  <% end %>
</table>
<%= link_to("エントリー登録に戻る", "/entries/index") %><br>

<h3>ペア登録内容</h3>
<table border = 1>
  <tr>
    <th>選手名</th>
    <th>レース</th>
    <th>ペア</th>
  </tr>
  <% @players.each do |player| %>
    <% entries = Entry.where(player_id: player.id).where("race_name LIKE ?", "%-2-%") %>
    <% entries.each do |entry| %>
      <tr>
        <td> <%= player.p_name %> </td>
        <td> <%= entry.race_name %> </td>
        <% if entry.race_name.include?("-2-2") %>
          <% pair_two = PairTwo.find_by(player_id: player.id) %>
          <% if pair_two %>
            <td> <%= Player.find_by(id: pair_two.pair_id).p_name %> </td>
          <% else %>
            <% pair_two = PairTwo.find_by(pair_id: player.id) %>
            <% if pair_two %>
              <td> <%= Player.find_by(id: pair_two.player_id).p_name %> </td>
            <% else %>
              <td> 未登録 </td>
            <% end %>
          <% end %>
        <% else %>
          <% pair = Pair.find_by(player_id: player.id) %>
          <% if pair %>
            <td> <%= Player.find_by(id: pair.pair_id).p_name %> </td>
          <% else %>
            <% pair = Pair.find_by(pair_id: player.id) %>
            <% if pair %>
              <td> <%= Player.find_by(id: pair.player_id).p_name %> </td>
            <% else %>
            <td> 未登録 </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
<%= link_to("ペア登録に戻る", "/pairs/index") %><br>
<br>
以上の内容でよろしければ<br>
<%= link_to("ログアウトして終了する", "/logout", method: :post) %>
<br><br><br><br>
