<div class = "header">
  <div class = "header-logo">
    <%= link_to("エントリー登録システム", "/reg/top") %>
  </div>
</div>
<% if flash[:notice] %>
  <div class="flash" >
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="main">
<h3> パスワード再登録 </h3>
<% if @error_message %>
  <%= @error_message %>
<% end %>
<%= form_tag("/reset_password") do %>
  <p>大学名: <%=@university.u_name %></p>
  <p>パスワード</p>
  <input type="password" name="password">
  <input type="hidden" name="id" value="<%= @university.id %>" >
  <input type="hidden" name="token" value="<%= @token %>" >
  <input type="submit" value="パスワードを再登録する">
<% end %>

<br>
<%= link_to("トップへ戻る", "/") %>
</div>
