<div class = "header">
  <div class = "header-logo">
    <%= link_to("大会管理システム", "/operations/top") %>
  </div>
  <div class = "header-menus">
    <%= @current_op.name %> でログイン中　　　　<%= link_to("ログアウト", "/operations/logout", method: :post) %> <br>
  </div>
</div>
<% if flash[:notice] %>
  <div class="flash" >
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="main">
  <h2>補欠確認</h2>
  <div class="substitutes_comfirm">
  <table border = 1>
    <tr>
      <th>レース名</th>
      <th>大学名</th>
      <th>補欠</th>
    </tr>
    <% @substitutes.each do |sub| %>
      <tr>
        <td> <%= sub.race_name %> </td>
        <td> <%= sub.u_name %> </td>
        <td> <%= Player.find_by(id: sub.sub_id).p_name %> </td>
      </tr>
    <% end %>
  </table>
  </div>
  <br>
  <br>
  <%= link_to("管理ページトップへ戻る", "/operations/top" ) %>
  <br><br><br><br>
</div>
